
<footer>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <h3> Liens vers nos différentes boutiques en ligne </a>
                </button>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Recherche</button>
                </form>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                    <a class="nav-link" href="/product">BoutiqueAmazon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product">BoutiqueCDiscount</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/product">BoutiqueEbay</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product">BoutiqueEtsy</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product">BoutiqueGonnaOrder</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product">BoutiqueShopify</a>
                </li>
                </ul>
        </div>
    </nav>

</footer>