
<footer>

    <form class="d-flex" align="right">
        <input class="form-control " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" align="right">Recherche</button>
    </form>
                <p></p>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            
            <h6 text-align=" left"> Liens vers nos différentes boutiques en ligne :</h6>
                <p></p>
                <div></di>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="https://sellercentral.amazon.fr/ap/signin?clientContext=262-9481979-1673711&openid.return_to=https%3A%2F%2Fsellercentral.amazon.fr%2Fgp%2Fhomepage.html&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.assoc_handle=sc_fr_amazon_v2&openid.mode=checkid_setup&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&mons_redirect=sign_in&ssoResponse=eyJ6aXAiOiJERUYiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiQTI1NktXIn0.BriQKEeGuRVV0fqu2vLFSK0ISFomoigmCb6MRSYu-85z6vy6kFHfwA.pzs4pMHaIxoN5Y4x.QCjg_dLtE7fBRsMBhxbonTJphjM97h6Jon6SXChMA9OIovs0EM_Li84zA-2k19eWhr9zgxWO83e8qNMX9KzybJyCqS2ynGMqdFglZZMboXQpOBD--IGWwfKTnoo_z8kj6SktV91ma7hElxaTcoYBm6e1TDt7XOJhXHF34VyuFT3_sOXzMD2h8SnL__ISTlB5jt8IF9AS_Xwn5VSPVzO2oWVEE_4M2ddR8kOw3ZRDxWZYINmSrlGkLXpPyLkcgo6AdlgxIS4.Hvj2lCJvDzhYhesLvs0jMQ">
                        BoutiqueAmazon</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://seller.cdiscount.com/login">
                        BoutiqueCDiscount</a>
                    </li>
                
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.ebay.fr/usr/memepoterie">
                        BoutiqueEbay</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.etsy.com/your/shops/me/dashboard?ref=seller-platform-mcnav">
                        BoutiqueEtsy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product">BoutiqueGonnaOrder</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://memepoterie.myshopify.com/admin">
                        BoutiqueShopify</a>
                    </li>
                </ul>
        </div>
    </nav>

</footer>